body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    text-align: center;
    margin-top: 50px;
}

.login-box {
    background: white;
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

.login-box input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 200px;
}

.login-box button {
    padding: 10px 20px;
    cursor: pointer;
}

#loginBox #error {
    color: red;
}

.content {
    display: none; /* caché par défaut */
}

button#btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

button#btn:hover {
    background-color: #0b7dda;
}
